{{!< default}}

<div class="gh-main-wrap">
  <div class="gh-error">
    <div class="gh-error-code" aria-hidden="true">{{statusCode}}</div>
    <div class="gh-error-content">
      <span class="rule-accent" style="margin: 0 auto 20px;"></span>
      <h1 class="gh-error-title">{{errorTitle}}</h1>
      <p class="gh-error-desc">{{message}}</p>
      <a href="{{@site.url}}" class="gh-btn">Back to home</a>
    </div>
  </div>
</div>
