{{!< default}}

{{#post}}
<div class="gh-main-wrap">

  {{#match @page.show_title_and_feature_image}}
    {{#if feature_image}}
    <div class="gh-post-cover">
      <img
        src="{{img_url feature_image size="xl"}}"
        alt="{{title}}"
        loading="eager">
    </div>
    {{/if}}
  {{/match}}

  <div class="gh-container--article" style="padding-top: 52px; padding-bottom: 80px;">

    {{#match @page.show_title_and_feature_image}}
      <h1 class="gh-post-title" style="margin-bottom: 32px;">{{title}}</h1>
    {{/match}}

    <div class="gh-content">
      {{{content}}}
    </div>

  </div>

</div>
{{/post}}
